body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align:justify;
    background-color: #d94d4d;
  }
  
  h1 {
    color: #000000;
  }
  
  button {
    padding: 120px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10%;
    border-color: #d5cfcf;
  }
  .button:hover{
    transition: 2ms;
    transition-duration: 1ms;
    background-color: #444242;
  }