body {
  margin: 0;
  
    .p1 {
      font-family: "Brush Script MT", Times, serif;
    }
    
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  
  
  background-image: url("C:\Users\lidwin\Pictures\2_2400x.webp");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
